
  @import url('https://fonts.googleapis.com/css?family=Kanit|Roboto');
  body{
    margin: 0% auto;
  }
  #myVideo {
    margin: 0% auto;
    position: fixed;
    right: 0;
    bottom: 0;
    width:100%;
    min-width: 100%; 
    min-height: 100%;
  }
  #mainform{
    position: sticky;
    margin: auto;
    text-align: center;
    font-family: 'Kanit', sans-serif;
  }
  #mainform input[type=submit]{
    margin: 30px 0px 0px 0px;
    font-family: 'Kanit', sans-serif;
    font-size: 90px;
    color:#000;
    background-color: rgba(204, 204, 204, 0.3);
    border: 0px solid #000;
    padding: 0% 30% 0% 30%;
    transition: all linear 0.3s;
  }
  #mainform input[type=submit]:hover{
    color:#ccc;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  #text{
    margin: 10px 0px 0px 0px;
    font-family: 'Kanit', sans-serif;
    border-radius: 10px;
    /*border-style: dashed;*/
    border:1px solid #ccc;
    text-align: left;
    padding: 10px 0px 10px 10px;
    width: 50%;
    
  }
table tr td{
  padding: 7% 0% 7% 0%;
  border-bottom: 2px solid rgba(165, 165, 165, 0.301);
}
#IPGPA{
  color:rgba(255, 255, 255, 0.76);
  width: 50%;
  font-size: 40px;
  font-family: 'Kanit', sans-serif;
  border: none;
  background: none;
  float: left;
  margin: 0px 0px 0px 50px;
  padding: 0px 0px 0px 10px;
  transition: all 0.1s linear;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
#IPGPA:hover{
  cursor: pointer;
  color:rgba(255, 255, 255, 0.76);
  width: 50%;
  font-size: 40px;
  font-family: 'Kanit', sans-serif;
  border: none;
  background:rgba(204, 204, 204, 0.151);
  border-bottom: 1px solid #ccc;
  float: left;
  margin: 0px 0px 0px 50px;
  padding: 0px 0px 0px 10px;
}