@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');
.center {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  background: rgba(248, 66, 248, 0.226);
  margin-top: 5%;
}

h1 {
  margin: 0 auto;
}

.letter {
  
  font-family: 'Bowlby One SC', cursive;
  font-size: 90px;
  color:#fff;
  display: inline-block;
  widows: 100%;
}

.ContainerbtnBack{
    bottom: 0px;
    width: 100%;
    position: absolute;
}
.btnBack{
  cursor: pointer;
  text-align: center;
  width: 100%;
  border: none;
  font-family: 'Bowlby One SC', cursive;
  font-size: 90px;
  background: rgba(0, 0, 0, 0.5);
  color:rgb(255, 190, 202);
  transition: all 0.2s linear;
}
.btnBack:hover{
  background: rgba(255, 190, 202, 0.5);
  color:rgb(0, 0, 0);
}